*{
	cursor: none;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;

}
#game-area{
	top: 50%;
	bottom: 50%;
	position: absolute;
	left: 50%;
	right: 50%;
	overflow: hidden;
}
#c{
	width: 100%;
	height: 85%;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 0px;
	margin-top: 0px;
	top: 0px;
	bottom: 0px;
}
#score{
	width: 100%;
	height: 5%;
	top: 0px;
	bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#slider{
	width: 100%;
	height: 10%;
	top: 0px;
	bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}